
.main{
    width: 360px;
    min-height: 300px;
    margin:  auto;
    margin-top: 100px;
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0,30%);
    background-color: #811f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.main .headingWalaDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main .headingWalaDiv h3{
    font-size: 1.5rem;
    padding: 1rem 0rem;
    color: white;
}

.main .formWalaDiv{
    width: 100%;    

}

.main .formWalaDiv form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main > .formWalaDiv > form > input, button,span{
    width: 70%;
    padding: 0.5rem;
    margin-top: 10px;
    font-size: 0.9rem;
    border-radius: 2px;
    outline: none;
    border-width: 0.5px;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0,30%);
    background-color: white;

}


.main .formWalaDiv form span{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main .formWalaDiv form span input{
    height: 20px;
    width: 20px;
    font-size: 2rem;
    box-shadow: none;
    background-color: transparent;
    
}

.main .formWalaDiv form span label{
    padding-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.main .formWalaDiv form button{
    margin-top: 2rem;
   background-color: black;
   color: white;
   font-size: 1rem;
   text-transform: capitalize;

}

.main .formWalaDiv form button[type="reset"]{
    margin-top: 10px;
}

.main .formWalaDiv form a{
    padding: 0.4rem 0.8rem;
    margin: 1rem auto;
    color: white;
    
}
